In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics
df1=pd.read_csv(r"C:\Users\ravin\Downloads\calories_burnnnn\calories.csv")
df2=pd.read_csv(r"C:\Users\ravin\Downloads\calories_burnnnn\exercise.csv")
df3=pd.concat([df2,df1['Calories']],axis=1)
#df3.replace({"Gender":{'male':0,'female':1}}, inplace=True)

In [2]:
dummies=pd.get_dummies(df3.Gender)
dummies.head(3)

   female   male
0   False   True
1    True  False
2   False   True

In [3]:
dummies = dummies.astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       0     1

In [4]:
df3=pd.concat([df3,dummies],axis=1)
df3.tail(3)

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories,female,male
14997,17271188,female,43,159.0,58.0,16.0,90.0,40.1,75.0,1,0
14998,18643037,male,78,193.0,97.0,2.0,84.0,38.3,11.0,0,1
14999,11751526,male,63,173.0,79.0,18.0,92.0,40.5,98.0,0,1

In [5]:
df3=df3.drop(['Gender'],axis=1)
df3

,User_ID,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories,female,male
0,14733363,68,190.0,94.0,29.0,105.0,40.8,231.0,0,1
1,14861698,20,166.0,60.0,14.0,94.0,40.3,66.0,1,0
2,11179863,69,179.0,79.0,5.0,88.0,38.7,26.0,0,1
3,16180408,34,179.0,71.0,13.0,100.0,40.5,71.0,1,0
4,17771927,27,154.0,58.0,10.0,81.0,39.8,35.0,1,0
...,...,...,...,...,...,...,...,...,...,...
14995,15644082,20,193.0,86.0,11.0,92.0,40.4,45.0,1,0
14996,17212577,27,165.0,65.0,6.0,85.0,39.2,23.0,1,0
14997,17271188,43,159.0,58.0,16.0,90.0,40.1,75.0,1,0
14998,18643037,78,193.0,97.0,2.0,84.0,38.3,11.0,0,1
14999,11751526,63,173.0,79.0,18.0,92.0,40.5,98.0,0,1

In [6]:
X = df3.drop(['User_ID','Calories'], axis=1)
Y = df3['Calories']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=2)
model = XGBRegressor()
model.fit(X_train, Y_train)
test_data_pred = model.predict(X_test)
mae = metrics.mean_absolute_error(Y_test, test_data_pred)
print(mae)
print(model.score(X_test, Y_test))
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
crs_validation=ShuffleSplit(n_splits=5, test_size=0.25, random_state=20)
print(cross_val_score(XGBRegressor(),X,Y, cv=crs_validation))

1.4794255460739136
0.9987583788988402
[0.99878635 0.99880252 0.99877075 0.99871799 0.9987861 ]

In [34]:
X

       Age  Height  Weight  Duration  Heart_Rate  Body_Temp  female  male
0       68   190.0    94.0      29.0       105.0       40.8       0     1
1       20   166.0    60.0      14.0        94.0       40.3       1     0
2       69   179.0    79.0       5.0        88.0       38.7       0     1
3       34   179.0    71.0      13.0       100.0       40.5       1     0
4       27   154.0    58.0      10.0        81.0       39.8       1     0
...    ...     ...     ...       ...         ...        ...     ...   ...
14995   20   193.0    86.0      11.0        92.0       40.4       1     0
14996   27   165.0    65.0       6.0        85.0       39.2       1     0
14997   43   159.0    58.0      16.0        90.0       40.1       1     0
14998   78   193.0    97.0       2.0        84.0       38.3       0     1
14999   63   173.0    79.0      18.0        92.0       40.5       0     1

[15000 rows x 8 columns]

In [7]:
Y

0        231.0
1         66.0
2         26.0
3         71.0
4         35.0
         ...
14995     45.0
14996     23.0
14997     75.0
14998     11.0
14999     98.0
Name: Calories, Length: 15000, dtype: float64

In [8]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
crs_val=ShuffleSplit(n_splits=5, test_size=0.2, random_state= 114433)
cross_val_score(XGBRegressor(), X, Y, cv=crs_val)

array([0.9987219 , 0.99885995, 0.99873761, 0.9988831 , 0.99892639])

In [9]:
from sklearn.model_selection import GridSearchCV, ShuffleSplit
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
import pandas as pd

def find_best_model_using_gridsearchcv(X, Y):
    algos = {
        'xgboost': {
            'model': XGBRegressor(),
            'params': {
                'n_estimators': [100, 200, 300],  # Add more parameters as needed
                'learning_rate': [0.01, 0.1, 0.2],
                'max_depth': [3, 4, 5],
                # Add other XGBRegressor parameters you want to tune
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1, 2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['mse', 'friedman_mse'],
                'splitter': ['best', 'random']
            }
        }
    }

    scores = []

    crs_val = ShuffleSplit(n_splits=5, test_size=0.2, random_state=114433)

    for algo_name, algo in algos.items():
        gscv = GridSearchCV(algo['model'], algo['params'], cv=crs_val, return_train_score=False)
        gscv.fit(X, Y)
        scores.append({
            'algorithm': algo_name,
            'best_params': gscv.best_params_,
            'best_score': gscv.best_score_
        })

    return pd.DataFrame(scores, columns=['algorithm', 'best_score', 'best_params'])

# Assuming x and y are defined elsewhere
find_best_model_using_gridsearchcv(X, Y)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'absolute_error', 'friedman_mse', 'squared_error', 'poisson'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.9927573  0.99228417]
  warnings.warn(

,algorithm,best_score,best_params
0,xgboost,0.999402,"{'learning_rate': 0.1, 'max_depth': 5, 'n_esti..."
1,lasso,0.964593,"{'alpha': 1, 'selection': 'cyclic'}"
2,decision_tree,0.992757,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [10]:
def predict_cal(Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp):
    loc_index = np.where(X.columns==Gender)[0][0]
    p=np.zeros(len(X.columns))
    p[0]=Age
    p[1]=Height
    p[2]=Weight
    p[3]=Duration
    p[4]=Heart_Rate
    p[5]=Body_Temp
    if loc_index>=0:
        p[loc_index]=1
    return model.predict([p])[0]

In [11]:
predict_cal('male',12,50,50,30,27,26)

110.13915

In [12]:
import pickle
with open('calories_burn4.pickle','wb') as f:
  pickle.dump(df3,f)

In [13]:
import pickle
with open('calories_burn44.pickle','wb') as f:
  pickle.dump(model,f)

In [5]:
import json
columns={
    'data_columns':[col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))